<!DOCTYPE html>
<html>
<head>
    <title>BRM - REALTIME CHARTING</title>
</head>
<body class="Container">

<h2>Values</h2>
<section class="Container Container-values">
    <h4>Ora primei valori: <span id="indexStartTime"></span></h4>
    <h4>Ora ultimei valori: <span id="indexEndTime"></span></h4>
    <h4>Ultima cota: <span id="indexEndValue"></span></h4>
</section>

<h2>Commands</h2>
<section class="Container Container-commands">
    <ul class="Actions">
        <li><input type="button" class="hook-sendCommand disabled command connect" command-id="11" value="Connect"/></li>
        <li><input type="button" class="hook-sendCommand disabled command normal" command-id="12" value="Normal Trading"/></li>
        <li><input type="button" class="hook-sendCommand disabled command buy" command-id="13" value="Buy Trading"/></li>
        <li><input type="button" class="hook-sendCommand disabled command sell" command-id="14" value="Sell Trading"/></li>
        <li><input type="button" class="hook-sendCommand disabled command cancel" command-id="15" value="Cancel"/></li>
        <li><input type="button" class="hook-sendCommand disabled command single" command-id="16" value="Single Mode Trading"/></li>
        <li><input type="button" class="hook-sendCommand disabled command exit" command-id="17" value="Exit"/></li>
    </ul>
    <ul class="Actions">
        <li><input type="button" class="hook-sendCommand disabled command buy" command-id="21" value="Buy"/></li>
        <li><input type="button" class="hook-sendCommand disabled command sell" command-id="22" value="Sell"/></li>
        <li><input type="button" class="hook-sendCommand disabled command stop" command-id="23" value="Stop"/></li>
        <li><input type="button" class="hook-sendCommand disabled command close" command-id="24" value="Close"/></li>
    </ul>
</section>

<h2>Realtime</h2>
<section class="Container Container-realtime">
    <h3>Status <span class="status disconnected" id="socketStatus">DISCONNECTED</span></h3>
    <header>
        <ul class="Actions">
            <li>
                <a href="#" class="" id="hook-connect">Connect</a>
            </li>
            <li>
                <a href="#" class="disabled" id="hook-disconnect">Disconnect</a>
            </li>
        </ul>
    </header>
</section>

<h2>Chart</h2>
<section class="Container Container-chart">
    <header>
        <ul class="Actions">
            <li><a href="#" class="" id="hook-destoryChart">Reload chart</a></li>
            <li>
                <a href="#" class="" id="hook-requestData">Request Existing Data</a>
            </li>
            <li>
                <a href="" class="" id="hook-uploadBtn">Load from file</a>
                <input type="file" class="hidden" id="upload"/>
            </li>
        </ul>
    </header>
    <h4 id="chartStatus" class="status"></h4>
    <div id="chart" class="Chart"></div>
</section>

</body>
</html>