.Actions {
  padding: 0;
  display: flex;
  li {
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    list-style: none;
    margin: 0 10px;
    a {
      display: block;
      padding: 5px 4px;
      border-radius: 3px;
      background-color: @gray;
      color: @white;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
  }

  .disabled {
    cursor: none !important;
    color: @disabled !important;
    pointer-events: none !important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat !important;
  }
}