.Chart {
    width: 100%;
    height: auto;
    max-height: 450px;
    .canvasjs-chart-toolbar {
        top: -15px !important;
    }
}

.Container-chart {
    .zoom {
        a {
            &.selected {
                background-color: rgb(230, 235, 245);
                font-weight: bold;
            }
            padding: 5px 16px;
            margin: 2px 0;
            font-size: 15px;
            line-height: 20px;
            background-color: rgb(245, 242, 242);
        }
    }
    header {
        display: flex;
        justify-content: space-between;
    }
}