.Container-commands {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }

  .Actions {
    &:last-child {
      align-items: flex-end;
    }
    li {
      margin: 0 3px;
    }
    .command {
      padding: 5px 0;
      width: 70px;
      cursor: pointer;
      font-size: 15px;
      border: 1px solid @choco;
      background-color: @gray;
      color: @white;
      text-transform: uppercase;
    }

    .connect {
    }
    .buy {
      background-color: @green;
    }
    .sell {
      background-color: @red;
    }
    .normal {
    }
    .single {
    }
    .cancel {
    }
    .exit {
    }
    .stop {
    }
    .close {
    }

  }

}
