.Container {
  width: @desktop;
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    width: @mobile;
  }
  margin: 0 auto;
  a {
    text-decoration: none;
    color: @black;
    font-size: 12px;
  }
}

section {
  border-bottom: 1px solid @choco;
  &:last-of-type {
    border-bottom: 0;
  }
}

.hidden {
  display: none;
}

.download {
  text-decoration: none;
  color: @black;
  border: 1px solid @black;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.green {
  color: @green;
}

.red {
  color: @red
}

.gray {
  color: @gray;
}

.black {
  color: @black;
}

.white {
  color: @white;
}

h1, h2, h3, h4, h5, p {
  margin: 5px 0;
}

h2 {
  text-align: center;
}

ul {
  margin: 10px 0;
}