.Container-realtime {
    display: flex;
    h3 {
        line-height: 30px;
    }
    .status {
        &.connected {
            color: @green;
        }

        &.disconnected {
            color: @red;
        }
    }
}
