<!DOCTYPE html>
<html>
<head>
    <title>BRM - REALTIME CHARTING</title>
</head>
<body class="Container">

<section class="Container Container-realtime">
    <h3>Websocket Status <span class="status disconnected" id="socketStatus">DISCONNECTED</span></h3>
    <ul class="Actions">
        <li>
            <a href="#" class="" id="hook-connect">Connect</a>
        </li>
        <li>
            <a href="#" class="disabled" id="hook-disconnect">Disconnect</a>
        </li>
    </ul>
</section>
<section class="Container Container-commands">
    <ul class="Actions">
        <li><input type="button" class="hook-sendCommand disabled command connect" command-id="11" value="Con"/></li>
        <li><input type="button" class="hook-sendCommand disabled command normal" command-id="12" value="Normal"/></li>
        <li><input type="button" class="hook-sendCommand disabled command buy" command-id="13" value="B"/></li>
        <li><input type="button" class="hook-sendCommand disabled command sell" command-id="14" value="S"/></li>
        <li><input type="button" class="hook-sendCommand disabled command cancel" command-id="15" value="Cncl"/></li>
        <li><input type="button" class="hook-sendCommand disabled command single" command-id="16" value="Single"/></li>
        <li><input type="button" class="hook-sendCommand disabled command exit" command-id="17" value="Exit"/></li>
    </ul>
    <ul class="Actions">
        <li><input type="button" class="hook-sendCommand disabled command buy" command-id="21" value="B"/></li>
        <li><input type="button" class="hook-sendCommand disabled command sell" command-id="22" value="S"/></li>
        <li><input type="button" class="hook-sendCommand disabled command stop" command-id="23" value="Stop"/></li>
        <li><input type="button" class="hook-sendCommand disabled command close" command-id="24" value="Cls"/></li>
    </ul>
</section>
<section class="Container Container-chart">
    <header>
        <ul class="Actions">
            <li><a href="#" class="" id="hook-destoryChart">Reload chart</a></li>
            <li>
                <a href="#" class="" id="hook-requestData">Request Existing Data</a>
            </li>
            <li>
                <a href="" class="" id="hook-uploadBtn">Load from file</a>
                <input type="file" class="hidden" id="upload"/>
            </li>
        </ul>
        <ul class="Actions">
            <li><h4>Last action</h4><p id="lastAction"></p></li>
            <li><h4>Last minute</h4><p id="indexEndTime"></p></li>
            <li><h4>Last value</h4><p id="indexLast"></p></li>
            <li><h4><p>|</p></h4></li>
            <li><h4>Low</h4><p id="indexLow"></p></li>
            <li><h4>High</h4><p id="indexHigh"></p></li>
        </ul>
    </header>
    <h4 id="chartStatus" class="status"></h4>
    <div class="zoom">
        Zoom
        <a href="#" class="hook-zoomChart" zoom="1M">1M</a>
        <a href="#" class="hook-zoomChart" zoom="5M">5M</a>
        <a href="#" class="hook-zoomChart" zoom="30M">30M</a>
        <a href="#" class="hook-zoomChart" zoom="1H">1H</a>
    </div>
    <div id="chartEl" class="Chart"></div>
</section>

<script>
    const SERVER_ADDRESS = "<%= htmlWebpackPlugin.options.SERVER_ADDRESS %>";
    const SERVER_PORT = <%= htmlWebpackPlugin.options.SERVER_PORT %>;
</script>

</body>
</html>